body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.section_one {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.section_two {
    text-align: center;
    padding: 12px;
}

.section_three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 48px;
    justify-content: center;
    align-items: center;
}

.section_four {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.content, .content_first {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;    
}

.content_first {
    width: 500px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.box_one {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}

.box_two {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.img {
    width: 100px;
    height: 100px;
    border: solid blue 2px;
    border-radius: 15px;
}

.background {
    display: flex;
    background-color: #3882f6;
    margin: 32px;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.text {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.933);
    margin-top: 18px;
}

a, .footer_text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7ebd8;
}

.Welcome_text {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

header {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
}

.quote, .quote_autor {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    max-width: 800px;
    height: auto;
}

.quote_autor {
    font-style: normal;
    font-weight: bold;
    text-align: start;
}

button {
    background-color: #3882f6;    
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    font-size: 32px;
}

.button {
    border: white solid 2px;
    border-radius: 10px;
}

.action {
    color: #f9faf8;
    font-size: 32px;
    font-weight: 700;
}